@import 'tailwindcss';

@theme {
  /* Your custom colors */
  --color-primary-50: #e6efff;
  --color-primary-100: #cde0ff;
  --color-primary-200: #9bc2ff;
  --color-primary-300: #69a3ff;
  --color-primary-400: #3785ff;
  --color-primary-500: #0357f0;
  --color-primary-600: #0246c0;
  --color-primary-700: #023490;
  --color-primary-800: #012360;
  --color-primary-900: #011230;

  --color-secondary-50: #fdf4ff;
  --color-secondary-100: #fae8ff;
  --color-secondary-200: #f5d0fe;
  --color-secondary-300: #f0abfc;
  --color-secondary-400: #e879f9;
  --color-secondary-500: #d946ef;
  --color-secondary-600: #c026d3;
  --color-secondary-700: #a21caf;
  --color-secondary-800: #86198f;
  --color-secondary-900: #701a75;

  --color-text: #777777;
  --color-border: #e0e0e0;

  /* Your existing variables */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
  --font-inter: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}
:root {
  --border-color: #e0e0e0;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
  scroll-behavior: smooth;
}

.inter-font {
  font-family: var(--font-inter), sans-serif !important;
}

/* Headings use Plus Jakarta Sans */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

p,
spans,
label,
li,
input,
textarea {
  font-family: var(--font-inter), sans-serif;
}

.hero-div {
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, transparent, white);
  }
}

.benefits-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
  width: 100%;

  @media (min-width: 1024px) {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr 0.7fr;

    article {
      &:nth-child(1) {
        grid-area: 1 / 1 / 3 / 2;
      }
      &:nth-child(2) {
        grid-area: 1 / 2 / 2 / 3;
      }
      &:nth-child(3) {
        grid-area: 1 / 3 / 2 / 4;
      }
      &:nth-child(4) {
        grid-area: 2 / 2 / 3 / 4;
      }
    }
  }
}

.why-choose-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  gap: 20px;

  @media (min-width: 1024px) {
    grid-template-columns: 0.7fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    gap: 0;

    article {
      &:nth-child(1) {
        grid-area: 1 / 1 / 2 / 2;
      }

      &:nth-child(2) {
        grid-area: 1 / 2 / 4 / 3;
        border-left: 3px dashed var(--border-color);
      }

      &:nth-child(3) {
        grid-area: 2 / 1 / 3 / 2;
        border: 3px dashed var(--border-color);
        border-left: none;
        border-right: none;
        position: relative;

        &::before,
        &::after {
          content: '';
          width: 16px;
          height: 16px;
          background-color: white;
          border: 1.5px solid #cacaca;
          position: absolute;
          right: 0;
        }

        &::before {
          top: 0;
          transform: translate(8px, -8px);
        }

        &::after {
          bottom: 0;
          transform: translate(8px, 8px);
        }
      }

      &:nth-child(4) {
        grid-area: 3 / 1 / 4 / 2;
      }
    }
  }
  @media (max-width: 1024px) {
    article {
      border-bottom: 3px dashed var(--border-color);
    }
  }
}

.icon-slide {
  .slick-track {
    display: flex !important;
    align-items: center;
  }
  .slick-list {
    position: relative;
    &:before {
      content: '';
      position: absolute;
      background: linear-gradient(to left, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      width: 200px;
      height: 100%;
      left: 0;
      z-index: 1;
      top: 0;
    }
    &:after {
      content: '';
      position: absolute;
      background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
      width: 200px;
      height: 100%;
      right: 0;
      z-index: 1;
      top: 0;
    }
  }
}

.feature-carousel {
  .slick-track {
    display: flex !important;
    align-items: stretch;
  }
  .slick-slide {
    height: auto;
    > div {
      height: 100%;
    }
  }
}
