@import 'tailwindcss';

@theme {
  /* Your custom colors */
  --color-primary-50: #e6efff;
  --color-primary-100: #cde0ff;
  --color-primary-200: #9bc2ff;
  --color-primary-300: #69a3ff;
  --color-primary-400: #3785ff;
  --color-primary-500: #0357f0;
  --color-primary-600: #0246c0;
  --color-primary-700: #023490;
  --color-primary-800: #012360;
  --color-primary-900: #011230;

  --color-secondary-50: #fdf4ff;
  --color-secondary-100: #fae8ff;
  --color-secondary-200: #f5d0fe;
  --color-secondary-300: #f0abfc;
  --color-secondary-400: #e879f9;
  --color-secondary-500: #d946ef;
  --color-secondary-600: #c026d3;
  --color-secondary-700: #a21caf;
  --color-secondary-800: #86198f;
  --color-secondary-900: #701a75;

  /* Your existing variables */
  --color-background: #ffffff;
  --color-foreground: #171717;
  --font-sans: var(--font-inter);
  --font-mono: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #0a0a0a;
    --color-foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-inter), sans-serif;
}

/* Headings use Plus Jakarta Sans */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-plus-jakarta-sans), sans-serif;
}

/* Paragraphs, spans, and buttons use Inter */
p,
spans {
  font-family: var(--font-inter), sans-serif;
  color: #777777;
}

.dash-border {
  border-style: dashed !important;
  border-width: 3px !important;
  border-color: #e0e0e0;
  border-top: none !important;
  border-left: none !important;
  border-right: none !important;
}

.benefits-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr 0.7fr;
  gap: 20px;
  width: 100%;
  article:nth-child(1) {
    grid-area: 1 / 1 / 3 / 2;
  }
  article:nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
  }
  article:nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
  }
  article:nth-child(4) {
    grid-area: 2 / 2 / 3 / 4;
  }
}
